
<div class="lista">
  <h1>Lista de produtos</h1>
</div>

<div class="lista">
  <%= form_tag produtos_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a product"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="lista">
  <% @produtos.each do |produto| %>
      <div class="card-product">
          <% if produto.photo.attached? %>
            <%= cl_image_tag produto.photo.key, crop: :fill,class:"img_preview" %>
          <% else%>
            <h1></h1>
          <%end%>
        <div class="card-product-infos">
          <h2><%= produto.nome %></h2>
          <p>Descrição:<%= produto.tipo %></p>
          <p>R$<%= produto.valor %></p>
        </div>
        <a href="https://api.whatsapp.com/send?phone=+551599804-2088"  style="color:white">Comprar</a>
      </div>
  <% end %>
</div>
<div class="btn">
  <%= link_to "Criar produto",  new_produto_path %>
</div>
