
<div class="lista">
  <h1>Lista de produtos</h1>
</div>

<div>
  <% @produtos.each do |produto| %>
      <div class="card-product">
          <% if produto.photo.attached? %>
            <%= cl_image_tag produto.photo.key, crop: :fill,class:"img_preview" %>
          <% else%>
            <h1></h1>
          <%end%>
        <div class="card-product-infos">
          <h2><%= produto.nome %></h2>
          <p>Descrição:<%= produto.tipo %></p>
          <p>R$<%= produto.valor %></p>
        </div>
        <a href="https://api.whatsapp.com/send?phone=+551599804-2088"  style="color:white">Comprar</a>
        <img src="https://scontent.fcgh40-1.fna.fbcdn.net/v/t39.30808-6/246362410_4201804193263590_3014684204083413757_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeF6xMP0GwoTMRr4d4BvzHxkDb5A_ZAKBe4NvkD9kAoF7n5MGhpwsEe2rVK0DSwnTDQ&_nc_ohc=enN22lQwIv8AX9cUHM6&_nc_zt=23&_nc_ht=scontent.fcgh40-1.fna&oh=b53814d2d068a76b3f3be810c0acd545&oe=619BE8B7" class="card-trip-user avatar-bordered" alt="">
      </div>
  <% end %>
</div>
<div class="btn">
  <button style="color:white"><%= link_to "Criar produto",  new_produto_path %></button>
</div>
